/* This file holds user specific custom css

Example:

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: rgb(107, 179, 0);
}

.huge-font {
    font: 20px "Comic Sans";
}

.italic {
    font: 17px "Arial";
    font-style: italic;
}

*/
